@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    --border: 240 10% 12%;
    --input: 240 10% 12%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --muted: 240 10% 12%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 10% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
